.logo {
    text-align: center;
}

.reg_form_title {
    color: rgb(99, 98, 102);
    text-align: center;
    text-decoration: underline;
    font-family: fantasy;
}

.reg_form {
    background-color: rgb(218, 218, 218);
    margin: auto;
    padding: 10px;
    width: fit-content;
    color: rgb(2, 2, 2);
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 30px;
}

.table1 td {
    height: 35px;
    padding-right: 20px;
}

.submit_button {
    text-align: center;
    margin-top: 20px;
}